/* Body and others */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Container */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

/* Navigation, logo and address */

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--OCEAN, #404bbf);
}

.nav-item.current {
  color: #404bbf;
  position: relative;
}

.nav-item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--OCEAN, #404bbf);
  border-radius: 2px;
  width: 100%;
}

.address-link {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: var(--OCEAN, #404bbf);
}

/* Hero section content */

.hero-section {
  background-color: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  box-sizing: content-box;
  margin: 0 auto 48px;
  max-width: 496px;
}

.main-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* Second section content */

.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.preferences-list {
  display: flex;
  gap: 24px;
}

.preferences-item {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: calc((100% - 72px) / 4);
}

.preferences-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.preferences-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.preferences-item-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: start;
}

/* Third section content */

.third-section {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.third-section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-container {
  padding: 32px 0;
}

.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-paragraph {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.icon-socials {
  fill: #f4f4fd;
}

/* Fourth section content */

.fourth-section {
  padding: 120px 0;
}

.fourth-section-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  max-width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-image-paragraph {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-image {
  position: relative;
  overflow: hidden;
}

.portfolio-image-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.title-paragraph-container {
  width: 360px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-paragraph-container:hover {
  transform: translateY(0);
}

.portfolio-item-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-item-paragraph {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  height: 100%;
}

/* Footer and footer-logo */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-paragraph-container {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  line-height: 24px;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-list-item {
  width: 40px;
  height: 40px;
}

.footer-socials-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-list-link:hover,
.footer-socials-list-link:focus {
  background-color: #31d0aa;
}
